div(class='popup popup__coocie')
    div.popup__in
        img(src="assets/img/coocie.gif", alt="")
        div.popup__title You’ve got cookie!
        div.caption SupportYourApp uses cookies to personalize content and to make our site easier for you to use. We do also share that information with third parties for advertising & analytics.
        div.btn_wr
            a(href="#", class="bttn bttn__got_it") GOT IT
            span or
            a(href="#", class="bttn__learn_more") Learn More