div(id='requestSuccess', class='popup popup__success mfp-hide')
    div.popup__in
        div.popup__title Thank you!
        div.caption Your message has been sent successfully.
        img(src="assets/img/icon_success.png", alt="")
        a(href="javascript:void(0)", class="bttn bttn__back mfp-close") Back to Website