<footer class="footer">

    <div class="footer__top">
        <div class="container">
            <div class="bl_top">
                <div class="footer_logo">
                    <a href="#">Logo</a>
                    <div class="logo_description">CB Radio isn't only a hobby. It is a lifestyle.</div>
                </div>
                <ul class="footer_menu">
                    <li class="footer_menu__item">
                        <a href="#">HOME</a>
                    </li>
                    <li class="footer_menu__item">
                        <a href="#">CATEGORIES</a>
                    </li>
                    <li class="footer_menu__item">
                        <a href="#">SHIPPING AND RETURNS</a>
                    </li>
                    <li class="footer_menu__item">
                        <a href="#">CONTACT US</a>
                    </li>
                    <li class="footer_menu__item">
                        <a href="#">BLOG</a>
                    </li>
                </ul>
                <div class="soc soc_footer">
                    <a href="#" target="_blank" class="soc__link fab fa-twitter"></a>
                    <a href="#" target="_blank" class="soc__link fab fa-facebook-f"></a>
                    <a href="#" target="_blank" class="soc__link fab fa-pinterest"></a>
                </div>
            </div>
            <div class="bl_bottom">
                <div class="terms_wr">
                    <a href="#">Terms And Conditions</a>
                    <a href="#">Privacy Policy</a>
                </div>
                <a class="mail_footer" href="mailto: yourEmail@gmail.com">
                    <i class="far fa-envelope"></i> yourEmail@gmail.com
                </a>
                <div class="subscribe">
                    <input type="text" placeholder="Your email address">
                    <button class="subscribe_btn">SUBSCRIBE</button>
                </div>
            </div>
        </div>
    </div>

    <div class="footer__bottom">
        <div class="container">
            <span class="copy">
                © 2018 - <a href="#">yourSite.com</a>
            </span>
            <span class="sitemap">
                <a href="#">Sitemap</a>
            </span>

            <div class="wrap_semalt_logo">
                <span>Powered by</span>
                <a class="semalt_logo" href="#">
                    <div class="m"></div>
                </a>
            </div>

        </div>
    </div>

</footer>

<!-- <script src="libs/jquery/jquery.min.js"></script>
<script src="libs/slick/slick.min.js "></script>
<script src="libs/magnific-popup/jquery.magnific-popup.min.js"></script> -->
<script src="assets/js/common.js"></script>



</body>

</html>