<!DOCTYPE html>
<html lang="eng" class="no-js">

<head>

    <meta charset="utf-8">

    <title>Electronic shop</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="libs/bootsrap-grid/bootstrap-grid.min.css">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">


    <link rel="stylesheet" href="libs/slick/slick-theme.css">
    <link rel="stylesheet" href="libs/slick/slick.css">

    <link rel="stylesheet" href="libs/magnific-popup/magnific-popup.css">

    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/media.css">

</head>

<body>
    <div class="preloader"></div>
    <!-- begin header -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="bl_left">
                    <div class="soc soc_header">
                        <a href="#" target="_blank" class="soc__link fab fa-twitter"></a>
                        <a href="#" target="_blank" class="soc__link fab fa-facebook-f"></a>
                        <a href="#" target="_blank" class="soc__link fab fa-pinterest"></a>
                    </div>
                    <a class="mail" href="mailto: yourEmail@gmail.com">
                        <i class="far fa-envelope"></i> yourEmail@gmail.com</a>
                </div>
                <div class="bl_right">
                    <div class="header_cart_mob_wr">
                        <a class="header_cart" href="#">
                            <img src="assets/img/shopping-cart-mob.png" alt="">
                        </a>
                    </div>
                    <div class="search__input_group_wr search">
                        <div class="search__input_group">
                            <input type="text" placeholder="Search" class="search__input">
                            <button class="btn_search">
                                <img src="assets/img/search.png" alt="">
                            </button>
                        </div>
                    </div>
                    <div class="center_wr">
                        <a href="#" class="btn_wishlist far fa-heart"></a>
                        <div class="lang">
                            <div class="visibility">
                                Eng
                            </div>
                            <ul class="list-hidden">
                                <li>
                                    <a data-value="Eng" href="#">Eng
                                    </a>
                                </li>
                                <li>
                                    <a data-value="Uk" href="#">
                                        Uk
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="btn_registr_wr">
                        <a class="logout" href="#">Login</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="header__bottom">
            <div class="container">
                <div class="header_logo">
                    <a href="#">Logo</a>
                    <div class="logo_description">CB Radio isn't only a hobby. It is a lifestyle.</div>
                </div>
                <div class="menu_wr">
                    <ul class="menu">
                        <li class="menu_item active">
                            <a href="#">CATEGORIES</a>
                            <ul class="menu__hidden">
                                <li class="menu__item">
                                    <a href="#" class="menu__link_hidden">
                                        Find The Best CD Radio
                                    </a>
                                    <ul class="submenu__hidden">
                                        <li class="submenu__item">
                                            <a href="#" class="submenu__link_hidden">
                                                Cobra CB Radios
                                            </a>
                                        </li>
                                        <li class="submenu__item">
                                            <a href="#" class="submenu__link_hidden">
                                                Handheld CB
                                            </a>
                                        </li>
                                        <li class="submenu__item">
                                            <a href="#" class="submenu__link_hidden">
                                                Midland CB Radio
                                            </a>
                                        </li>
                                        <li class="submenu__item">
                                            <a href="#" class="submenu__link_hidden">
                                                Uniden CB Radio
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu__item">
                                    <a href="#" class="menu__link_hidden">
                                        Uncategorized Square Items
                                    </a>
                                    <ul class="submenu__hidden">
                                        <li class="submenu__item">
                                            <a href="#" class="submenu__link_hidden">
                                                Cobra CB Radios
                                            </a>
                                        </li>
                                        <li class="submenu__item">
                                            <a href="#" class="submenu__link_hidden">
                                                Handheld CB
                                            </a>
                                        </li>
                                        <li class="submenu__item">
                                            <a href="#" class="submenu__link_hidden">
                                                Midland CB Radio
                                            </a>
                                        </li>
                                        <li class="submenu__item">
                                            <a href="#" class="submenu__link_hidden">
                                                Uniden CB Radio
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="menu_item">
                            <a href="#">SHIPPING AND RETURNS</a>
                        </li>
                        <li class="menu_item">
                            <a href="#">CONTACT US</a>
                        </li>
                        <li class="menu_item">
                            <a href="#">BLOG</a>
                        </li>
                    </ul>
                    <div class="search_mob">
                        <i class="fas fa-search"></i>
                    </div>
                    <div class="burger">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>

                </div>
                <div class="header_cart_wr">
                    <a class="header_cart" href="#">
                        <img src="assets/img/shopping-cart.png" alt="">
                        <span class="quantity">2</span>
                    </a>
                    <div class="summ_cash">
                        $0.00
                    </div>
                </div>

            </div>
        </div>
        <!-- begin search_mob -->
        <div class='bl_search_mob'>
            <div class="search_mob_wr">
                <div class="btn_search_mob">
                    <i class="fas fa-search"></i>
                </div>
                <div class="input_search_wr">
                    <input type="text" placeholder="Search">
                </div>
                <div class="btn_close_serch">
                    <i class="fas fa-times"></i>
                </div>

            </div>
        </div>
        <!-- end search_mob -->

    </header>
    <!-- end header -->