<!DOCTYPE html>
html(lang="en", class="no-js")
include ../partials/head
body
    div.preloader
    // begin header
    include ../partials/header
    // end header
    // begin bl_post_wr
    section.bl_post_wr
        div.container
            div.content_wr.privacy_wr
                h1 Our Privacy Policy
                div.typical_blog__in
                    div.soc_wr
                        i.zmdi.zmdi-share
                        div.soc_in
                            a(href="#", class="fab fa-facebook-f", target="_blank")
                            a(href="#", class="fab fa-twitter", target="_blank")
                            a(href="#", class="fab fa-google-plus-g", target="_blank")
                            a(href="#", class="fab fa-linkedin-in", target="_blank")
                            a(href="#", class="fab fa-pinterest-p", target="_blank")

                    div.privacy
                        div.terms_content_wr
                            h3 Our Privacy Policy: What information do we collect?
                            p We collect information from you when you register on our site, place an order, subscribe to our newsletter or fill out a form.
                            p When ordering or registering on our site, as appropriate, you may be asked to enter your: name, e-mail address, mailing address, phone number or credit card information. You may, however, visit our site anonymously.
                            p Google, as a third party vendor, uses cookies to serve ads on your site. Google’s use of the DART cookie enables it to serve ads to your users based on their visit to your sites and other sites on the Internet. Users may opt out of the use of the DART cookie by visiting the Google ad and content network privacy policy.
                            div(id='accord_term', class='accord')
                                div.content_wr_cond
                                    h5 What do we use your information for?
                                    div.hidden_content
                                        p Any of the information we collect from you may be used in one of the following ways:
                                        ul.list_dot
                                            li To personalize your experience #[br] (your information helps us to better respond to your individual needs)
                                            li To improve our website #[br] (we continually strive to improve our website offerings based on the information and feedback we receive from you)
                                            li To improve customer service #[br] (your information helps us to more effectively respond to your customer service requests and support needs)
                                            li To process transactions
                                                p.left_line Your information, whether public or private, will not be sold, exchanged, transferred, or given to any other company for any reason whatsoever, without your consent, other than for the express purpose of delivering the purchased product or service requested.
                                            li To send periodic emails
                                                p.left_line The email address you provide for order processing, may be used to send you information and updates pertaining to your order, in addition to receiving occasional company news, updates, related product or service information, etc.
                                        p Note: If at any time you would like to unsubscribe from receiving future emails, we include detailed unsubscribe instructions at the bottom of each email.
                                div.content_wr_cond
                                    h5 How do we protect your information?
                                    div.hidden_content
                                        p We implement a variety of security measures to maintain the safety of your personal information when you place an order or enter, submit, or access your personal information.
                                        p We offer the use of a secure server. All supplied sensitive/credit information is transmitted via Secure Socket Layer (SSL) technology and then encrypted into our Payment gateway providers database only to be accessible by those authorized with special access rights to such systems, and are required to?keep the information confidential.
                                        p After a transaction, your private information (credit cards, social security numbers, financials, etc.) will not be stored on our servers.
                                div.content_wr_cond
                                    h5 Do we use cookies (as in our privacy policy)?
                                    div.hidden_content
                                        p Yes (Cookies are small files that a site or its service provider transfers to your computers hard drive through your Web browser (if you allow) that enables the sites or service providers systems to recognize your browser and capture and remember certain information
                                        p We use cookies to help us remember and process the items in your shopping cart, understand and save your preferences for future visits and compile aggregate data about site traffic and site interaction so that we can offer better site experiences and tools in the future. We may contract with third-party service providers to assist us in better understanding our site visitors. These service providers are not permitted to use the information collected on our behalf except to help us conduct and improve our business.
                                div.content_wr_cond
                                    h5 Do we disclose any information to outside parties?
                                    div.hidden_content
                                        p We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information. This does not include trusted third parties who assist us in operating our website, conducting our business, or servicing you, so long as those parties agree to keep this information confidential. We may also release your information when we believe release is appropriate to comply with the law, enforce our site policies, or protect ours or others rights, property, or safety. However, non-personally identifiable visitor information may be provided to other parties for marketing, advertising, or other uses.
                                div.content_wr_cond
                                    h5 Third party links
                                    div.hidden_content
                                        p Occasionally, at our discretion, we may include or offer third party products or services on our website. These third party sites have separate and independent privacy policies. We therefore have no responsibility or liability for the content and activities of these linked sites. Nonetheless, we seek to protect the integrity of our site and welcome any feedback about these sites.
                                div.content_wr_cond
                                    h5 California Online Privacy Protection Act Compliance
                                    div.hidden_content
                                        p Because we value your privacy we have taken the necessary precautions to be in compliance with the California Online Privacy Protection Act. We therefore will not distribute your personal information to outside parties without your consent.
                                        p As part of the California Online Privacy Protection Act, all users of our site may make any changes to their information at anytime by logging into their control panel and going to the ‘Edit Profile’ page.
                                div.content_wr_cond
                                    h5 Childrens Online Privacy Protection Act Compliance
                                    div.hidden_content
                                        p We are in compliance with the requirements of COPPA (Childrens Online Privacy Protection Act), we do not collect any information from anyone under 13 years of age. Our website, products and services are all directed to people who are at least 13 years old or older.
                                div.content_wr_cond
                                    h5 Third Party Complaints and Disputes
                                    div.hidden_content
                                        p We do not allow any complaints or disputes related to any other site and company. Therefore, we reserve the right of removing the companies and individuals names from comments.
                                div.content_wr_cond
                                    h5 Terms and Conditions
                                    div.hidden_content
                                        p Please also visit our Terms and Conditions section establishing the use, disclaimers, and limitations of liability governing the use of our website at https://www.bisiakandeblog.com/disclaimer-and-risk-warning/
                                div.content_wr_cond
                                    h5 Your Consent
                                    div.hidden_content
                                        p By using our site, you consent to our web site privacy policy.
                                div.content_wr_cond
                                    h5 Changes to our Privacy Policy
                                    div.hidden_content
                                        p If we decide to change our privacy policy, we will post those changes on this page:
                                            br
                                            a(href='#') https://www.bisiakandeblog.com/privacy-policy/




                    div.bl_share
                        p.sub_title Share this
            div.sidebar_wr
                div.sidebar_in
                    div.newsletter
                        div.sidebar_title
                            p newsletter
                        div.sidebar_subscribe
                            p Enter your email here to receive our latest articles in your inbox automatically:
                            div.form
                                form(class="swd-form", data-type="appointment", data-title="form")
                                    div.form_subscribe_wr
                                        //div.input-group.input-wrap
                                        //    label.label__input Name
                                        //    input(name='name', type="text", data-error="Enter name", data-err-empty="Enter name", data-req="true", class="ist_input", data-step="1")
                                        //    div.label__error
                                        //        div.icon__error
                                        //        div.text__error This field was entered incorrectly, try again!
                                        div.input-group.input-wrap
                                            label.label__input Email
                                            input(name='email', type="text", data-err="Enter valid email", data-req="true", class="ist_input", data-step="1")
                                            div.label__error
                                                div.icon__error
                                                div.text__error This field was entered incorrectly, try again!
                                        div.form__bottom
                                            a(href="javascript:void(0)", class="bttn bttn_submit bttn_subscribe", data-error="Error") subscribe
                                        div.error__form Error!
                    div.categories
                        div.sidebar_title
                            p categories
                        div.link_wr
                            span General Business Resources
                            span.number (5)
                            a(href='#')
                            i.fas.fa-briefcase
                        div.link_wr
                            span Granite Quarry Business
                            span.number (5)
                            a(href='#')
                            i.zmdi.zmdi-store
                        div.link_wr
                            span Internet Marketing Resources
                            span.number (5)
                            a(href='#')
                            i.fas.fa-desktop
                        div.link_wr
                            span Internet Marketing Biz Training Videos
                            span.number (5)
                            a(href='#')
                            i.fas.fa-cloud-download-alt
                        div.link_wr
                            span Oil & Gas (LPG, etc.)
                            span.number (5)
                            a(href='#')
                            i.fas.fa-tint
                        div.link_wr
                            span Special Topics (Motivation, etc.)
                            span.number (5)
                            a(href='#')
                            i.fas.fa-thumbs-up
                    div.popular_posts
                        div.sidebar_title
                            p Popular posts
                        div.popular_post_in
                            a(href='#', class='btn_internet_mark_resource') Internet (Online) Marketing Resources
                            p Online business advantages: Comparing online business with my “old life”
                            a(href='#', class='link')
                            a(href='#', class='btn_popular_post')
                                span
                                    i.fas.fa-arrow-right
                        div.popular_post_in.post_black
                            a(href='#', class='btn_internet_mark_resource') Internet (Online) Marketing Resources
                            p You Are in the Right Place at the Right Time with The Millionaires’ Club
                            a(href='#', class='link')
                            a(href='#', class='btn_popular_post')
                                span
                                    i.fas.fa-arrow-right
                        div.popular_post_in.post_red
                            a(href='#', class='btn_internet_mark_resource') Internet (Online) Marketing Resources
                            p Earn Good Income  With Online Photography Hobby!
                            a(href='#', class='link')
                            a(href='#', class='btn_popular_post')
                                span
                                    i.fas.fa-arrow-right
                    div.recent_posts
                        div.sidebar_title
                            p Recent Posts
                        div.link_wr
                            span You Are in the Right Place at the Right Time with The Millionaires’ Club
                            a(href='#')
                        div.link_wr
                            span With KaratBars Make Wealth from Gold!
                            a(href='#')
                        div.link_wr
                            span Make Passive Income the Golden Way, Build Lasting Wealth for Financial Freedom
                            a(href='#')
                        div.link_wr
                            span Online Business Advantages: Comparing Online Business with My “Old Life”
                            a(href='#')
                        div.link_wr
                            span ClickBank Affiliate Marketing Tutorial – Simple Guide To Success (Part 1)
                            a(href='#')
                    div.archives
                        div.sidebar_title
                            p Archives
                        div.link_wr
                            a(href='#') August 2018
                        div.link_wr
                            a(href='#') July 2018
                        div.link_wr
                            a(href='#') June 2018
                        div.link_wr
                            a(href='#') May 2018
                        div.link_wr
                            a(href='#') April 2018
                        div.link_wr
                            a(href='#') March 2018
                        div.link_wr
                            a(href='#') February 2018
                        div.link_wr
                            a(href='#') January 2018
                        div.link_wr
                            a(href='#') December 2017
                        div.link_wr
                            a(href='#') November 2017
                        div.link_wr
                            a(href='#') October 2017
                        div.link_wr
                            a(href='#') September 2017
    // end bl_post_wr

    // begin footer
    include ../partials/footer
    // end footer
    // begin popup_success
    include ../partials/popup_success
    // end popup_success
