footer.footer

	div.footer__top
		div.container 
			div.bl_top
				div.footer_logo
					a(href="#") Logo
					div.logo_description CB Radio isn't only a hobby. It is a lifestyle.
				ul.footer_menu
					li.footer_menu__item
						a(href="#") HOME
					li.footer_menu__item
						a(href="#") CATEGORIES
					li.footer_menu__item
						a(href="#") SHIPPING AND RETURNS
					li.footer_menu__item
						a(href="#") CONTACT US
					li.footer_menu__item
						a(href="#") BLOG
				div.soc.soc_footer
					a(href="#", target="_blank", class="soc__link fab fa-twitter")
					a(href="#", target="_blank", class="soc__link fab fa-facebook-f")
					a(href="#", target="_blank", class="soc__link fab fa-pinterest")
			div.bl_bottom
				div.terms_wr
					a(href="#") Terms And Conditions
					a(href="#") Privacy Policy
				a(class="mail_footer", href="mailto: yourEmail@gmail.com") 
					i.far.fa-envelope yourEmail@gmail.com
				div.subscribe
					input(type="text", placeholder="Your email address")
					button.subscribe_btn SUBSCRIBE

	div.footer__bottom
		div.container
			span.copy © 2018 - 
				a(href="#") yourSite.com
			span.sitemap
				a(href="#") Sitemap
			div.wrap_semalt_logo
				span Powered by
				a(class="semalt_logo", href="#")
					div.m

script(src="assets/js/common.js")
					
