header.header 

	div.header__top 
		div.container 
			div.bl_left 
				div.soc.soc_header 
					a(href="#", target="_blank", class="soc__link fab fa-twitter")
					a(href="#", target="_blank", class="soc__link fab fa-facebook-f")
					a(href="#", target="_blank", class="soc__link fab fa-pinterest")
				a(class="mail", href="mailto: yourEmail@gmail.com")
					i(class="far fa-envelope") yourEmail@gmail.com
			div.bl_right 
				div.header_cart_mob_wr
					a(class="header_cart", href="#")
						img(src="assets/img/shopping-cart-mob.png", alt="")
				div(class="search__input_group_wr search")
					div.search__input_group
						input(type="text", placeholder="Search", class="search__input")
						button.btn_search
							img(src="assets/img/search.png", alt="")
				div.center_wr
					a(href="#", class="btn_wishlist far fa-heart")
					div.lang
						div.visibility Eng 
						ul.list-hidden
							li 
								a(data-value="Eng", href="#") Eng
							li 
								a(data-value="Uk", href="#") Uk
				div.btn_registr_wr 
					a(class="logout", href="#") Login

	div.header__bottom
		div.container 
			div.header_logo 
				a(href="#") Logo
				div.logo_description CB Radio isn't only a hobby. It is a lifestyle.
			div.menu_wr
				ul.menu 
					li(class="menu_item active")
						a(href="#") CATEGORIES
						ul.menu__hidden
							li.menu__item
								a(href="#", class="menu__link_hidden") Find The Best CD Radio
								ul.submenu__hidden
									li.submenu__item
										a(href="#", class="submenu__link_hidden") Cobra CB Radios
									li.submenu__item
										a(href="#", class="submenu__link_hidden") Handheld CB
									li.submenu__item
										a(href="#", class="submenu__link_hidden") Midland CB Radio
									li.submenu__item
										a(href="#", class="submenu__link_hidden") Uniden CB Radio
					li.menu_item
							a(href="#", class="menu__link_hidden") SHIPPING AND RETURNS
					li.menu_item
							a(href="#", class="menu__link_hidden") CONTACT US
					li.menu_item
							a(href="#", class="menu__link_hidden") BLOG
				div.search_mob
					i(class="fas fa-search")
				div.burger
					span
					span
					span
					span
					span
					span
			div.header_cart_wr
				a(class="header_cart", href="#")
					img(src="assets/img/shopping-cart.png", alt="")
					span.quantity 2
				div.summ_cash $0.00

	div.bl_search_mob
		div.search_mob_wr
			div.btn_search_mob
				i(class="fas fa-search")
			div.input_search_wr
				input(type="text", placeholder="Search")
			div.btn_close_serch
				i(class="fas fa-times")