$center: polygon(50% 50%, 50% 50%, 50% 50%);
$sphere: polygon(18.10% 54.50%, 32.90% 86.90%, 47.90% 76.30%),
        polygon(5.10% 53.90%, 14.70% 73.30%, 18.10% 54.50%),
        polygon(14.70% 73.30%, 32.90% 86.90%, 18.10% 54.50%),
        polygon(29.70% 35.30%, 12.90% 34.30%, 18.10% 54.50%),
        polygon(51.90% 37.50%, 27.90% 17.30%, 29.70% 35.30%),
        polygon(27.90% 17.30%, 12.90% 34.30%, 29.70% 35.30%),
        polygon(63.30% 20.70%, 27.90% 17.30%, 51.90% 37.50%),
        polygon(32.90% 86.90%, 55.50% 91.30%, 47.90% 76.30%),
        polygon(61.30% 58.50%, 90.70% 47.50%, 74.10% 40.50%),
        polygon(69.70% 76.90%, 88.30% 70.10%, 61.30% 58.50%),
        polygon(88.30% 70.10%, 90.70% 47.50%, 61.30% 58.50%),
        polygon(76.50% 88.30%, 88.30% 70.10%, 69.70% 76.90%),
        polygon(47.90% 76.30%, 55.50% 91.30%, 69.70% 76.90%),
        polygon(55.50% 91.30%, 76.50% 88.30%, 69.70% 76.90%),
        polygon(12.90% 34.30%, 5.10% 53.90%, 18.10% 54.50%),
        polygon(18.10% 54.50%, 47.90% 76.30%, 38.50% 55.90%),
        polygon(29.70% 35.30%, 18.10% 54.50%, 38.50% 55.90%),
        polygon(69.70% 76.90%, 61.30% 58.50%, 47.90% 76.30%),
        polygon(51.90% 37.50%, 29.70% 35.30%, 38.50% 55.90%),
        polygon(31.50% 94.70%, 41.50% 97.70%, 20.70% 88.50%),
        polygon(22.10% 11.10%, 14.10% 18.90%, 32.50% 5.50%),
        polygon(83.70% 26.10%, 70.70% 9.30%, 74.10% 40.50%),
        polygon(47.90% 76.30%, 61.30% 58.50%, 38.50% 55.90%),
        polygon(74.10% 40.50%, 70.70% 9.30%, 63.30% 20.70%),
        polygon(51.90% 37.50%, 74.10% 40.50%, 63.30% 20.70%),
        polygon(48.70% 8.30%, 27.90% 17.30%, 63.30% 20.70%),
        polygon(70.70% 9.30%, 48.70% 8.30%, 63.30% 20.70%),
        polygon(61.30% 58.50%, 74.10% 40.50%, 51.90% 37.50%),
        polygon(38.50% 55.90%, 61.30% 58.50%, 51.90% 37.50%),
        polygon(74.10% 40.50%, 90.70% 47.50%, 83.70% 26.10%),
        polygon(54.30% 98.70%, 75.50% 92.70%, 55.50% 91.30%),
        polygon(6.50% 71.50%, 20.70% 88.50%, 14.70% 73.30%),
        polygon(75.50% 92.70%, 91.10% 78.10%, 76.50% 88.30%),
        polygon(41.50% 97.70%, 54.30% 98.70%, 55.50% 91.30%),
        polygon(32.90% 86.90%, 41.50% 97.70%, 55.50% 91.30%),
        polygon(14.70% 73.30%, 20.70% 88.50%, 32.90% 86.90%),
        polygon(20.70% 88.50%, 41.50% 97.70%, 32.90% 86.90%),
        polygon(55.50% 91.30%, 75.50% 92.70%, 76.50% 88.30%),
        polygon(90.70% 47.50%, 98.50% 57.50%, 96.10% 34.70%),
        polygon(76.50% 88.30%, 91.10% 78.10%, 88.30% 70.10%),
        polygon(90.70% 47.50%, 96.10% 34.70%, 83.70% 26.10%),
        polygon(96.10% 34.70%, 98.50% 57.50%, 98.50% 44.10%),
        polygon(91.10% 78.10%, 98.50% 57.50%, 88.30% 70.10%),
        polygon(88.30% 70.10%, 98.50% 57.50%, 90.70% 47.50%),
        polygon(74.90% 7.70%, 54.50% 1.30%, 70.70% 9.30%),
        polygon(70.70% 9.30%, 54.50% 1.30%, 48.70% 8.30%),
        polygon(54.50% 1.30%, 32.50% 5.50%, 48.70% 8.30%),
        polygon(90.90% 23.30%, 74.90% 7.70%, 83.70% 26.10%),
        polygon(83.70% 26.10%, 74.90% 7.70%, 70.70% 9.30%),
        polygon(96.10% 34.70%, 90.90% 23.30%, 83.70% 26.10%),
        polygon(48.70% 8.30%, 32.50% 5.50%, 27.90% 17.30%),
        polygon(32.50% 5.50%, 14.10% 18.90%, 27.90% 17.30%),
        polygon(12.90% 34.30%, 1.10% 50.30%, 5.10% 53.90%),
        polygon(1.10% 50.30%, 6.50% 71.50%, 5.10% 53.90%),
        polygon(6.70% 29.30%, 1.10% 50.30%, 12.90% 34.30%),
        polygon(27.90% 17.30%, 14.10% 18.90%, 12.90% 34.30%),
        polygon(5.10% 53.90%, 6.50% 71.50%, 14.70% 73.30%),
        polygon(14.10% 18.90%, 6.70% 29.30%, 12.90% 34.30%);


$js: polygon(40.56% 55.33%, 45.74% 56.57%, 41.45% 53.5%),
    polygon(39.23% 56.33%, 41.24% 61.57%, 40.56% 55.33%),
    polygon(43.9% 59.68%, 45.74% 56.57%, 40.56% 55.33%),
    polygon(41.24% 61.57%, 43.9% 59.68%, 40.56% 55.33%),
    polygon(41.45% 53.5%, 46.43% 52.15%, 41.78% 50.68%),
    polygon(46.43% 52.15%, 46.43% 30.7%, 41.78% 50.68%),
    polygon(38.14% 62.2%, 41.24% 61.57%, 39.23% 56.33%),
    polygon(30.93% 59.37%, 34.21% 61.52%, 35.38% 56.2%),
    polygon(35.38% 56.2%, 34.21% 61.52%, 37.52% 56.63%),
    polygon(41.78% 50.68%, 46.43% 30.7%, 41.78% 30.7%),
    polygon(33.1% 54.58%, 30.93% 59.37%, 35.38% 56.2%),
    polygon(37.52% 56.63%, 38.14% 62.2%, 39.23% 56.33%),
    polygon(34.21% 61.52%, 38.14% 62.2%, 37.52% 56.63%),
    polygon(45.74% 56.57%, 46.43% 52.15%, 41.45% 53.5%),
    polygon(55.44% 39.4%, 51.34% 43.1%, 55.8% 41.02%),
    polygon(55.8% 41.02%, 52.85% 45.58%, 56.84% 42.15%),
    polygon(51.34% 43.1%, 52.85% 45.58%, 55.8% 41.02%),
    polygon(52.85% 45.58%, 55.05% 47.27%, 56.84% 42.15%),
    polygon(55.76% 55.75%, 54.35% 61.22%, 59.05% 56.58%),
    polygon(52.59% 53.32%, 49.96% 57.85%, 55.76% 55.75%),
    polygon(56.84% 42.15%, 55.05% 47.27%, 58.49% 42.98%),
    polygon(54.35% 61.22%, 59.15% 62.17%, 59.05% 56.58%),
    polygon(49.96% 57.85%, 54.35% 61.22%, 55.76% 55.75%),
    polygon(50.79% 39.53%, 51.34% 43.1%, 55.44% 39.4%),
    polygon(62.74% 51.23%, 63.13% 52.95%, 68.09% 52.92%),
    polygon(59.05% 56.58%, 59.15% 62.17%, 60.95% 56.28%),
    polygon(63.13% 52.95%, 67.41% 56.92%, 68.09% 52.92%),
    polygon(55.05% 47.27%, 57.65% 48.38%, 58.49% 42.98%),
    polygon(61.61% 50.08%, 62.74% 51.23%, 66.25% 47.02%),
    polygon(57.65% 48.38%, 59.88% 49.22%, 60.69% 43.72%),
    polygon(58.49% 42.98%, 57.65% 48.38%, 60.69% 43.72%),
    polygon(60.69% 43.72%, 59.88% 49.22%, 66.25% 47.02%),
    polygon(59.88% 49.22%, 61.61% 50.08%, 66.25% 47.02%),
    polygon(66.25% 47.02%, 62.74% 51.23%, 68.09% 52.92%),
    polygon(59.15% 62.17%, 62.69% 61.57%, 60.95% 56.28%),
    polygon(57.8% 35.95%, 55.46% 30.85%, 56.61% 36.62%),
    polygon(55.46% 30.85%, 52.96% 32.8%, 56.61% 36.62%),
    polygon(59.15% 35.73%, 58.74% 30.15%, 57.8% 35.95%),
    polygon(56.61% 36.62%, 52.96% 32.8%, 55.76% 37.75%),
    polygon(63.03% 30.7%, 58.74% 30.15%, 59.15% 35.73%),
    polygon(55.76% 37.75%, 51.35% 35.78%, 55.44% 39.4%),
    polygon(51.35% 35.78%, 50.79% 39.53%, 55.44% 39.4%),
    polygon(52.96% 32.8%, 51.35% 35.78%, 55.76% 37.75%),
    polygon(58.74% 30.15%, 55.46% 30.85%, 57.8% 35.95%),
    polygon(62.04% 36.23%, 63.03% 30.7%, 59.15% 35.73%),
    polygon(62.69% 61.57%, 65.53% 59.83%, 62.2% 55.47%),
    polygon(65.53% 59.83%, 67.41% 56.92%, 62.9% 54.3%),
    polygon(60.95% 56.28%, 62.69% 61.57%, 62.2% 55.47%),
    polygon(62.2% 55.47%, 65.53% 59.83%, 62.9% 54.3%),
    polygon(65.13% 38.05%, 63.03% 30.7%, 62.04% 36.23%),
    polygon(67.18% 33.05%, 63.03% 30.7%, 65.13% 38.05%),
    polygon(62.9% 54.3%, 67.41% 56.92%, 63.13% 52.95%);

$picto:
polygon(38.90% 74.30%, 72.70% 63.30%, 29.10% 39.50%),
polygon(87.50% 31.30%, 68.30% 19.10%, 72.70% 63.30%),
polygon(72.70% 63.30%, 68.30% 19.10%, 63.90% 30.30%),
polygon(63.90% 30.30%, 68.30% 19.10%, 29.10% 39.50%),
polygon(29.10% 39.50%, 72.70% 63.30%, 63.90% 30.30%),
polygon(86.90% 49.10%, 87.50% 31.30%, 72.70% 63.30%),
polygon(87.50% 19.10%, 68.30% 19.10%, 87.50% 31.30%),
polygon(42.70% 98.10%, 51.90% 92.50%, 32.70% 82.90%),
polygon(11.70% 82.30%, 32.70% 82.90%, 11.70% 70.50%),
polygon(63.50% 97.90%, 67.70% 82.70%, 51.90% 92.50%),
polygon(57.50% 1.10%, 46.50% 7.70%, 68.30% 19.10%),
polygon(97.70% 38.30%, 87.50% 31.30%, 86.90% 49.10%),
polygon(68.30% 19.10%, 46.50% 7.70%, 29.10% 39.50%),
polygon(38.90% 74.30%, 32.70% 82.90%, 72.70% 63.30%),
polygon(51.90% 92.50%, 67.70% 82.70%, 72.70% 63.30%),
polygon(67.70% 82.70%, 94.90% 76.10%, 72.70% 63.30%),
polygon(32.70% 82.90%, 51.90% 92.50%, 72.70% 63.30%),
polygon(29.10% 39.50%, 32.70% 82.90%, 38.90% 74.30%),
polygon(72.70% 63.30%, 94.90% 76.10%, 86.90% 49.10%),
polygon(11.70% 70.50%, 32.70% 82.90%, 29.10% 39.50%),
polygon(31.50% 17.30%, 3.90% 24.90%, 29.10% 39.50%),
polygon(46.50% 7.70%, 37.10% 2.70%, 29.10% 39.50%),
polygon(3.90% 24.90%, 11.90% 51.90%, 29.10% 39.50%),
polygon(37.10% 2.70%, 31.50% 17.30%, 29.10% 39.50%),
polygon(2.30% 64.90%, 11.70% 70.50%, 29.10% 39.50%),
polygon(11.90% 51.90%, 2.30% 64.90%, 29.10% 39.50%);


    
@mixin render($obj) {
    @for $i from 1 through 60 {
        .p#{$i} {
            transition-delay: random(500) + ms !important;
            // background: rgba(#000, random(10)/10);
            @if length($obj)>=$i {
                clip-path: nth($obj, $i);
            }
            @else {
                clip-path: $center;
            }
        }
    }
}

@include render($sphere);
.is-picto {
    @include render($picto);
}
