@media only screen and (max-width: 1250px)
	.footer__top 
		.bl_top 
			.footer_menu
				margin-left: 0
				.footer_menu__item 
					a
						padding: 0 13px


@media only screen and (max-width: 1024px)
	.footer__top 
		.bl_top
			flex-direction: column
			.footer_logo
				flex-basis: auto
			.footer_menu
				margin-top: 30px
				flex-basis: 100%
				width: 100%
				justify-content: space-between
				.footer_menu__item 
					a
						padding: 0 10px
			.soc_footer 
				margin-top: 30px
				flex-basis: auto
				.soc__link
					&:first-child
						margin-left: 0

@media only screen and (max-width: 992px)
	.footer__top 
		text-align: center
		.bl_bottom
			flex-direction: column
			display: block
			.terms_wr
				margin-top: 10px
				align-items: center
				flex-basis: auto
			.mail_footer
				margin-left: 0
				margin-top: 30px
				flex-basis: auto
				justify-content: center
			.subscribe
				margin-top: 30px
				flex-basis: auto
				justify-content: center

@media only screen and (max-width: 768px)
	.footer__bottom
		height: auto 
		padding: 15px
		.container_new
			flex-direction: column
			display: block
			text-align: center
			.sitemap
				display: block
				margin-left: 0
				margin-top: 20px
			.wrap_semalt_logo
				margin-top: 20px
				.semalt_logo
					margin-right: 0

@media only screen and (max-width: 586px)
	.footer__top 
		.bl_top
			.footer_menu
				flex-direction: column
				display: block

@media only screen and (max-width: 380px)
	.footer__top 
		.bl_bottom 
			.subscribe
				input 
					min-width: 190px
				.subscribe_btn
					min-width: 100px
					font-size: 12px